# Maven-specific files
target/
!target/*.jar

# IntelliJ IDEA-specific files
.idea/
*.iml
*.ipr

# Logs and temporary files
*.log
*.tmp
*.swp

# OS-specific files
.DS_Store
Thumbs.db

# Java-specific files
*.class

# Dependency cache
.mvn/
.mvn/wrapper/maven-wrapper.jar
!mvnw
!mvnw.cmd
